:root {
    --color-4: #1E1E1E;
    --color-3: #191D23;
    --color-2: #757575;
    --color-1: #64748B;

    --color-positive: #02542D;
    --color-warning: #522504;
    --color-error: #900B09;
    --color-neutral: #303030;

    --bg-positive: #14AE5C;
    --bg-warning: #E8B931;
    --bg-error: #EC221F;
    --bg-neutral: #CDCDCD;

    --text-positive: #064E3B;
    --text-error: #991B1B;

    --bg-text-positive: #ECFDF5;
    --bg-text-error: #FEF2F2;
}