.footer{
    margin-top: 64px;
    padding-top: 32px;
    border-top: 1px solid #D9D9D9;
}

.social-network{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1rem;
    color: var(--color-4);
    
}

.social-network a:focus{
    outline: none;
}

.social-network a:hover svg path, .social-network a:focus svg path{
    fill: #757575;
}

.copyright{
    margin-top: 64px;
    margin-bottom: 32px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-4);
    font-size: 1rem;
    text-align: center;
}