.pagination{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#page-index{
    background-color: #2C2C2C;
    font-size: 1rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    width: 20px;
    height: 20 px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button{
    padding: 8px 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer; 
    font-size: 1rem;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    color: var(--color-4);
    border: none;
}

.pagination button:focus{
    outline: none;
}

#btn-previous svg{
    transform: rotate(180deg);
}
  
.pagination button:hover, .pagination button:focus {
    color: #757575;
}

.pagination button:disabled {
    color: #B0B0B0;
    cursor: auto;
}

.pagination path{
    stroke: currentColor;
}
