.table{
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td{
    font-family: 'Manrope';
    text-align: left;
    padding: 20px 8px;
    border-bottom: 1px solid #E7EAEE;
}

.table-head th{
    color: var(--color-1);
    font-size: 0.875rem;
    font-weight: 600;
}

.table-body td{
    color: var(--color-3);
    font-size: 1rem;
}

.livre, .ativo{
    color: #064E3B;
    background-color: #ECFDF5;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
}

.ocupado, .inativo{
    color: #991B1B;
    background-color: #FEF2F2;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
}

.table-body-actions{
    display: flex;
    gap: 8px;
}

.lendIcon{
    background-color: #14AE5C;
    border: 1px solid #02542D;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.lendIcon:hover, .lendIcon:focus{
    background-color: #119951; 
}

.returnIcon{
    background-color: #CDCDCD;
    border: 1px solid #303030;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.returnIcon:hover, .returnIcon:focus{
    background-color: #BDBDBD;
}

.editIcon{
    background-color: #E8B931;
    border: 1px solid #522504;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.editIcon:hover, .editIcon:focus{
    background-color: #D4A82A;
}

.deleteIcon{
    background-color: #EC221F;
    border: 1px solid #900B09;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.deleteIcon:hover, .deleteIcon:focus{
    background-color: #D41E1B;
}

.lendIcon:focus, .returnIcon:focus, .editIcon:focus, .deleteIcon:focus{
    outline: none;
}

.btn-add{
    display: flex;
    gap: 8px;
    padding: 12px;
    background-color: var(--bg-positive);
    border: 1px solid var(--color-positive);
    border-radius: 8px;
    margin: 16px 0;
    color: var(--color-positive);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-add:focus{
    outline: none;
}

.btn-add:hover, .btn-add:focus{
    background-color: #119951;
}


