.book-table{
    width: 100%;
    border-collapse: collapse;
}

.book-table th, .book-table td{
    font-family: 'Manrope';
    text-align: left;
    padding: 20px 8px;
    border-bottom: 1px solid #E7EAEE;
}

.book-table-head th{
    color: var(--color-1);
    font-size: 0.875rem;
    font-weight: 600;
}

.book-table-body td{
    color: var(--color-3);
    font-size: 1rem;
}

.livre{
    color: #064E3B;
    background-color: #ECFDF5;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
}

.ocupado{
    color: #991B1B;
    background-color: #FEF2F2;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
}

.book-table-body-actions{
    display: flex;
    gap: 8px;
}

.book-table-body-actions button{
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0px;
}

.lendIcon:focus, .returnIcon:focus, .editIcon:focus, .deleteIcon:focus{
    outline: none;
}

.lendIcon:hover svg path:nth-child(1), .lendIcon:focus svg path:nth-child(1){
    fill: #119951;
}

.returnIcon:hover svg path:nth-child(1), .returnIcon:focus svg path:nth-child(1){
    fill: #BDBDBD
}

.editIcon:hover svg path:nth-child(1), .editIcon:focus svg path:nth-child(1){
    fill: #D4A82A;
}

.deleteIcon:hover svg path:nth-child(1), .deleteIcon:focus svg path:nth-child(1){
    fill: #D41E1B;
}

.btn-add{
    display: flex;
    gap: 8px;
    padding: 12px;
    background-color: var(--bg-positive);
    border: 1px solid var(--color-positive);
    border-radius: 8px;
    margin: 16px 0;
    color: var(--color-positive);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', Arial, Helvetica, sans-serif;;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-add:focus{
    outline: none;
}

.btn-add:hover{
    background-color: #119951;
}


